<form action="/add" method="POST">
  <p>Title: </p>
  <input type="text" name="title" id="ititle">
  <p>Content:</p>
  <textarea name="content" id="icontent"></textarea>
  <button type="submit">Register Post</button>
</form>